{% raw %}
╔════════════════════════════════════════════════════════════════════════════════╗
║                                                                                ║
║      ███╗   ███╗ ██████╗ ██████╗               ██████╗ ███╗   ██╗██╗           ║
║      ████╗ ████║██╔════╝ ██╔══██╗              ██╔══██╗████╗  ██║██║           ║
║      ██╔████╔██║██║  ███╗██████╔╝    █████╗    ██████╔╝██╔██╗ ██║██║           ║
║      ██║╚██╔╝██║██║   ██║██╔══██╗    ╚════╝    ██╔═══╝ ██║╚██╗██║██║           ║
║      ██║ ╚═╝ ██║╚██████╔╝██████╔╝              ██║     ██║ ╚████║███████╗      ║
║      ╚═╝     ╚═╝ ╚═════╝ ╚═════╝               ╚═╝     ╚═╝  ╚═══╝╚══════╝      ║
║                                                                                ║
║         *****************  AUTHORIZED ACCESS ONLY!  *****************          ║
║                                                                                ║
║   This system contains Controlled Unclassified Information (CUI), with         ║
║   specific handling requirements imposed by the National Institute of Health   ║
║   (NIH).                                                                       ║
║                                                                                ║
║   Disconnect IMMEDIATELY if you are not an authorized user!!!                  ║
║                                                                                ║
║   Unauthorized use of the information system is prohibited and may be          ║
║   subject to disciplinary, criminal, and civil penalties.                      ║
║                                                                                ║
║   All actions will be monitored and recorded, and are subject to audit. By     ║
║   using this system, you agree to adhere to the NIH CUI handling policies      ║
║   and procedures and Mass General Brigham’s acceptable use policy.             ║
║                                                                                ║
╚════════════════════════════════════════════════════════════════════════════════╝

{% endraw %}